.input-text {
    display: flex;
    height: 60px;
    padding: 12px 16px;
    width: 100%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #ABB5BE;
    backdrop-filter: blur(17.5px);
    color: #000;
    font-family: "Montserrat Regular";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.16px;
}

.input-text:focus {
    outline: none;
    border-color: #FF9B00;
}

